.App {
  padding-top: 40px;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 100%),url("images/background4resize.jpg");
  background-size: cover;
  /*Taustakuvassa on gradientti tuomassa transparency-efektin.
    Korkeudella on säädetty se, että kuva peittää aina
    koko viewportin, myös silloin kun div sisältö on pieni.*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  color: #3A1C0F;
  font-size: 1.5em;
  background-color: transparent;
}

form{
  padding: 50px;
  text-align: left;
}

.available{
  background-color: lawngreen;
  color:white;
}
.notavailable{
  background-color: red;
  color: white;
}

.container {
  padding: 16px;
}

.card {
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 16px;
  margin-left: 8px;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}



