.App {
  text-align: center;
  background-image: url("images/background4.jpg");
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form{
  border: 1px solid dodgerblue;
  padding: 50px;
  text-align: left;
}



